@mixin primary-button{
  background: inherit;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  background-color: $primary-300;
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  font-family: Inter, sans-serif;
  text-decoration: none;

  &:hover{
    background-color: #33B06B;
  }

  &:active{
    background-color: #0B783B;
  }

  &--disabled{
    background-color: $gray-300;

    &:hover,
    &:active{
      background-color: $gray-300;
      cursor: default;
    }
  }
}

@mixin tab{
  @include body16-semi-bold;
  padding: 20px 32px;
  border-radius: 40px;
  transition-property: background-color, border-color;
  transition-duration: 1s;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
}

@mixin tab-active{
  background-color: $black;
  border-color: transparent;
  color: #fff;

  &:hover{
    background-color: $gray-500;
  }
}

@mixin tab-inactive{
  color: $black;
  border-color: transparent;
  background-color: transparent;

  &:hover{
    border-color: $black;
  }
}

@mixin input{
  padding: 14px 40px;
  border-radius: 16px;
  border: 1px solid $gray-200;
  background-color: $gray-100;
  transition-property: border, box-shadow, background-color;
  transition-duration: 1s;
  cursor: pointer;

  &::placeholder{
    @include body16-regular;
    color: $gray-400;
    transition-property: color;
    transition-duration: 1s;
  }

  &:hover{
    border: 1px solid $gray-300;
    background-color: $gray-200;
  }

  &:focus{
    outline: none;
    border: 1px solid #fff;
    box-shadow: 0px 0px 0px 3px rgba(255, 105, 20, 0.3);
    background-color: #fff;
    &::placeholder{
      color: $gray-300;
    }
  }
}

@mixin button-link{
  padding: 4px 8px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  background-color: #fff;
  transition-property: background-color;
  transition-timing-function: ease-in;
  transition-duration: .1s;

  &:hover{
    background-color: $gray-100;
  }
}

@mixin h1{
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.79px;
}

@mixin h2{
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.47px;
}

@mixin body16-semi-bold{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.18px;
}

@mixin body16-medium{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.18px;
}

@mixin body16-regular{
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.18px;
}

@mixin caption12-semi-bold{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01px;
}

@mixin body14-regular{
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.09px;
}