$gray-100: #FAF9F6;
$gray-200: #ECEDF1;
$gray-300: #BABBC5;
$gray-400: #70727D;
$gray-500: #35373F;
$gray-600: #22252D;
$black: #202123;
$primary-200: #87C097;
$primary-300: #018A3E;
$purple: #6754E1;