$back: #D1D2D3;
$black: #222326;
$gray-100: #EFF4F4;
$gray-200: #E4E8EA;
$gray-300: #BFC7D0;
$gray-400: #8892A0;
$gray-500: #4E5560;
$primary-200: #FFB48A;
$primary-300: #FF6914;
$primary-400: #E65605;

body{
  background-color: red;
}
